shegoo/n8n/workflows/WF-06-SHEGOO-SUPPORT-ROUTER.json
{
  "name": "WF-06-SHEGOO-SUPPORT-ROUTER",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "shegoo-support",
      "parameters": {
        "httpMethod": "POST",
        "path": "shegoo-support",
        "responseMode": "onReceived"
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.category}}",
              "operation": "equals",
              "value2": "billing"
            }
          ]
        }
      },
      "id": "route-billing",
      "name": "Is Billing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [470, 200]
    },
    {
      "parameters": {
        "url": "https://vntnfljukhshzwvlrlud.supabase.co/rest/v1/support_tickets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_ANON_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "member_id", "value": "={{$json.body.member_id}}" },
            { "name": "subject", "value": "={{$json.body.subject}}" },
            { "name": "message", "value": "={{$json.body.message}}" },
            { "name": "category", "value": "={{$json.body.category}}" },
            { "name": "status", "value": "open" },
            { "name": "priority", "value": "={{$json.body.category === 'billing' ? 'high' : 'normal'}}" }
          ]
        },
        "options": {}
      },
      "id": "create-ticket",
      "name": "Create Support Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 400]
    },
    {
      "parameters": {
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{$env.BREVO_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"sender\":{\"name\":\"Shegoo Support\",\"email\":\"michael@bermech.com\"},\"to\":[{\"email\":\"{{$json.body.email}}\"}],\"subject\":\"We received your support request\",\"htmlContent\":\"<h2>Hi there!</h2><p>We got your message about: <strong>{{$json.body.subject}}</strong></p><p>We'll get back to you within 24 hours.</p><p>- Shegoo Team</p>\"}",
        "options": {}
      },
      "id": "send-ack",
      "name": "Send Acknowledgement Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 400]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\":\"{{$env.SHEGOO_OPS_CHAT_ID}}\",\"text\":\"🎫 NEW SUPPORT TICKET\\nCategory: {{$json.body.category}}\\nSubject: {{$json.body.subject}}\\nFrom: {{$json.body.email}}\\nPriority: {{$json.body.category === 'billing' ? '🔴 HIGH' : '🟡 NORMAL'}}\",\"parse_mode\":\"HTML\"}",
        "options": {}
      },
      "id": "notify-ops",
      "name": "Notify Ops Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Create Support Ticket", "type": "main", "index": 0 }]] },
    "Create Support Ticket": { "main": [[{ "node": "Send Acknowledgement Email", "type": "main", "index": 0 }, { "node": "Notify Ops Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "shegoo" }]
}
