shegoo/n8n/workflows/WF-08-SHEGOO-WEEKLY-REPORT.json
{
  "name": "WF-08-SHEGOO-WEEKLY-REPORT",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 * * 1" }] }
      },
      "id": "cron",
      "name": "Weekly Monday 10am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://vntnfljukhshzwvlrlud.supabase.co/rest/v1/rpc/weekly_report_stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_ANON_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-stats",
      "name": "Fetch Weekly Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "https://vntnfljukhshzwvlrlud.supabase.co/rest/v1/members?select=count&created_at=gte.{{$now.minus(7,'days').toISO()}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_ANON_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Prefer", "value": "count=exact" }
          ]
        },
        "options": { "fullResponse": true }
      },
      "id": "new-signups",
      "name": "Count New Signups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 500]
    },
    {
      "parameters": {
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{$env.BREVO_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"sender\":{\"name\":\"Shegoo\",\"email\":\"michael@bermech.com\"},\"to\":[{\"email\":\"michael@bermech.com\"}],\"subject\":\"Shegoo Weekly Report - {{$now.format('dd MMM yyyy')}}\",\"htmlContent\":\"<h2>📈 Weekly Report</h2><p>New signups this week: <strong>{{$node['Count New Signups'].json.headers['content-range'] || '0'}}</strong></p><p>Full stats available in Supabase dashboard.</p>\"}",
        "options": {}
      },
      "id": "send-report",
      "name": "Email Weekly Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\":\"{{$env.SHEGOO_OPS_CHAT_ID}}\",\"text\":\"📈 WEEKLY REPORT SENT\\nCheck michael@bermech.com for full details.\"}",
        "options": {}
      },
      "id": "notify-telegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 500]
    }
  ],
  "connections": {
    "Weekly Monday 10am": { "main": [[{ "node": "Fetch Weekly Stats", "type": "main", "index": 0 }, { "node": "Count New Signups", "type": "main", "index": 0 }]] },
    "Fetch Weekly Stats": { "main": [[{ "node": "Email Weekly Report", "type": "main", "index": 0 }]] },
    "Count New Signups": { "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "shegoo" }]
}
