shegoo/n8n/workflows/WF-02-SHEGOO-RATE-WATCHDOG.json
{
  "name": "WF-02 Shegoo Rate Watchdog",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "schedule-15m",
      "name": "Schedule Every 15min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rate_watches?status=eq.looking&select=from_ccy,to_ccy",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "get-pairs",
      "name": "Get Active Pairs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "// Deduplicate pairs\nconst seen = new Set();\nconst unique = [];\nfor (const item of $input.all()) {\n  const key = `${item.json.from_ccy}_${item.json.to_ccy}`;\n  if (!seen.has(key)) {\n    seen.add(key);\n    unique.push({ json: { from_ccy: item.json.from_ccy, to_ccy: item.json.to_ccy } });\n  }\n}\nreturn unique;"
      },
      "id": "dedup-pairs",
      "name": "Deduplicate Pairs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch-pairs",
      "name": "Batch Pairs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.frankfurter.app/latest?from={{ $json.from_ccy }}&to={{ $json.to_ccy }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "frankfurter",
      "name": "Frankfurter API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "frank-ok",
              "leftValue": "={{ $json.rates }}",
              "rightValue": "",
              "operator": { "type": "object", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-frank-ok",
      "name": "IF Frankfurter OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://open.er-api.com/v6/latest/{{ $('Batch Pairs').item.json.from_ccy }}",
        "options": { "timeout": 8000 }
      },
      "id": "er-api-fallback",
      "name": "Fallback open.er-api",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 460],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "er-ok",
              "leftValue": "={{ $json.rates }}",
              "rightValue": "",
              "operator": { "type": "object", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-er-ok",
      "name": "IF er-api OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 460]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://v6.exchangerate-api.com/v6/{{ $env.EXCHANGERATE_API_KEY }}/latest/{{ $('Batch Pairs').item.json.from_ccy }}",
        "options": { "timeout": 8000 }
      },
      "id": "exchangerate-fallback",
      "name": "Fallback exchangerate-api",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 600],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "exr-ok",
              "leftValue": "={{ $json.conversion_rates }}",
              "rightValue": "",
              "operator": { "type": "object", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-exr-ok",
      "name": "IF exchangerate OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2220, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rate_cache?from_ccy=eq.{{ $('Batch Pairs').item.json.from_ccy }}&to_ccy=eq.{{ $('Batch Pairs').item.json.to_ccy }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "get-cached-rate",
      "name": "Get Cached Rate (Stale)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 740]
    },
    {
      "parameters": {
        "jsCode": "const from = $('Batch Pairs').item.json.from_ccy;\nconst to = $('Batch Pairs').item.json.to_ccy;\nlet rate = null;\nlet source = 'unknown';\nlet is_stale = false;\n\n// Determine which source provided the rate\nconst frankData = $('Frankfurter API').item?.json;\nconst erData = $('Fallback open.er-api').item?.json;\nconst exrData = $('Fallback exchangerate-api').item?.json;\nconst cachedData = $('Get Cached Rate (Stale)').item?.json;\n\nif (frankData?.rates?.[to]) {\n  rate = frankData.rates[to];\n  source = 'frankfurter';\n} else if (erData?.rates?.[to]) {\n  rate = erData.rates[to];\n  source = 'open.er-api';\n} else if (exrData?.conversion_rates?.[to]) {\n  rate = exrData.conversion_rates[to];\n  source = 'exchangerate-api';\n} else if (cachedData?.[0]?.rate) {\n  rate = cachedData[0].rate;\n  source = 'cache';\n  is_stale = true;\n}\n\nreturn [{ json: { from_ccy: from, to_ccy: to, rate, source, is_stale, fetched_at: new Date().toISOString() } }];"
      },
      "id": "normalize-rate",
      "name": "Normalize Rate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rate_cache",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_ccy\": \"{{ $json.from_ccy }}\",\n  \"to_ccy\": \"{{ $json.to_ccy }}\",\n  \"rate\": {{ $json.rate }},\n  \"source\": \"{{ $json.source }}\",\n  \"is_stale\": {{ $json.is_stale }},\n  \"fetched_at\": \"{{ $json.fetched_at }}\"\n}",
        "options": {}
      },
      "id": "upsert-cache",
      "name": "Upsert Rate Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rates_history",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_ccy\": \"{{ $json.from_ccy }}\",\n  \"to_ccy\": \"{{ $json.to_ccy }}\",\n  \"rate\": {{ $json.rate }},\n  \"source\": \"{{ $json.source }}\",\n  \"recorded_at\": \"{{ $json.fetched_at }}\"\n}",
        "options": {}
      },
      "id": "insert-history",
      "name": "Insert Rates History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_matching_watches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_from_ccy\": \"{{ $('Normalize Rate').item.json.from_ccy }}\",\n  \"p_to_ccy\": \"{{ $('Normalize Rate').item.json.to_ccy }}\",\n  \"p_current_rate\": {{ $('Normalize Rate').item.json.rate }}\n}",
        "options": { "timeout": 10000 }
      },
      "id": "get-matching-watches",
      "name": "Get Matching Watches",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch-watches",
      "name": "Batch Matched Watches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [3320, 400]
    },
    {
      "parameters": {
        "jsCode": "const watch = $input.first().json;\nconst rate = $('Normalize Rate').item.json.rate;\nconst sendAmount = watch.send_amount || 0;\n\n// Wise fee estimation from config\nconst wiseFeePercent = 0.0062; // 0.62% typical\nconst wiseFixedFee = 1.50;\nconst netSend = sendAmount - (sendAmount * wiseFeePercent) - wiseFixedFee;\nconst estimatedReceive = Math.round(netSend * rate * 100) / 100;\n\nconst recvSymbols = {\n  BRL: 'R$', NGN: '\\u20a6', KES: 'KSh', GHS: '\\u20b5', INR: '\\u20b9',\n  PHP: '\\u20b1', PKR: 'Rs', EUR: '\\u20ac', GBP: '\\u00a3', USD: '$'\n};\nconst recv_sym = recvSymbols[watch.to_ccy] || watch.to_ccy + ' ';\nconst send_sym = recvSymbols[watch.from_ccy] || watch.from_ccy + ' ';\n\nreturn [{\n  json: {\n    ...watch,\n    current_rate: rate,\n    estimated_receive: estimatedReceive,\n    recv_sym,\n    send_sym\n  }\n}];"
      },
      "id": "calc-receive",
      "name": "Calculate Estimated Receive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3540, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "ch-tg",
              "leftValue": "={{ $json.channels }}",
              "rightValue": "telegram",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-telegram",
      "name": "IF Telegram Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3760, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "=Shegoo.\n\n{{ $json.from_ccy }}/{{ $json.to_ccy }} reached {{ $json.current_rate }}\n\nOn {{ $json.send_sym }}{{ $json.send_amount }} your family receives approx {{ $json.recv_sym }}{{ $json.estimated_receive }}\n\nVerify before sending.\nNot financial advice.\n\nshegoo.money",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-telegram",
      "name": "Send Telegram Nudge",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3980, 120],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Shegoo Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "ch-email",
              "leftValue": "={{ $json.channels }}",
              "rightValue": "email",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-email",
      "name": "IF Email Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3760, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $env.BREVO_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": { \"name\": \"Shegoo\", \"email\": \"{{ $env.SHEGOO_FROM_EMAIL }}\" },\n  \"to\": [{ \"email\": \"{{ $json.email }}\" }],\n  \"subject\": \"{{ $json.from_ccy }}/{{ $json.to_ccy }} reached {{ $json.current_rate }}\",\n  \"htmlContent\": \"<p>Shegoo.</p><p>{{ $json.from_ccy }}/{{ $json.to_ccy }} reached <strong>{{ $json.current_rate }}</strong></p><p>On {{ $json.send_sym }}{{ $json.send_amount }} your family receives approx <strong>{{ $json.recv_sym }}{{ $json.estimated_receive }}</strong></p><p><a href='https://wise.com/invite/{{ $json.affiliate_ref || '' }}'>Send with Wise</a></p><hr><p style='font-size:11px;color:#888'>Verify before sending. Not financial advice. Rates may change. <a href='https://shegoo.money'>shegoo.money</a></p>\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "send-email",
      "name": "Send Email via Brevo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3980, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "ch-wa",
              "leftValue": "={{ $json.channels }}",
              "rightValue": "whatsapp",
              "operator": { "type": "string", "operation": "contains" }
            },
            {
              "id": "pro-plan",
              "leftValue": "={{ $json.plan }}",
              "rightValue": "pro",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-whatsapp",
      "name": "IF WhatsApp Pro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3760, 620]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.whatsapp_number }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"shegoo_rate_alert\",\n    \"language\": { \"code\": \"en\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $json.from_ccy }}/{{ $json.to_ccy }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.current_rate }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.send_sym }}{{ $json.send_amount }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.recv_sym }}{{ $json.estimated_receive }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": { "timeout": 10000 }
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Nudge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3980, 620]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rate_watches?id=eq.{{ $('Calculate Estimated Receive').item.json.watch_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nudges_this_month\": {{ ($('Calculate Estimated Receive').item.json.nudges_this_month || 0) + 1 }},\n  \"total_nudges\": {{ ($('Calculate Estimated Receive').item.json.total_nudges || 0) + 1 }},\n  \"last_nudged_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "update-watch-nudges",
      "name": "Update Watch Nudges",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4200, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/members?id=eq.{{ $('Calculate Estimated Receive').item.json.member_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nudges_this_month\": {{ ($('Calculate Estimated Receive').item.json.member_nudges_this_month || 0) + 1 }}\n}",
        "options": {}
      },
      "id": "update-member-nudges",
      "name": "Update Member Nudges",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4200, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/nudge_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"watch_id\": \"{{ $('Calculate Estimated Receive').item.json.watch_id }}\",\n  \"member_id\": \"{{ $('Calculate Estimated Receive').item.json.member_id }}\",\n  \"from_ccy\": \"{{ $('Calculate Estimated Receive').item.json.from_ccy }}\",\n  \"to_ccy\": \"{{ $('Calculate Estimated Receive').item.json.to_ccy }}\",\n  \"rate\": {{ $('Normalize Rate').item.json.rate }},\n  \"channels_sent\": \"{{ $('Calculate Estimated Receive').item.json.channels }}\",\n  \"estimated_receive\": {{ $('Calculate Estimated Receive').item.json.estimated_receive }},\n  \"sent_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "insert-nudge-log",
      "name": "Insert Nudge Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4420, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "at-limit",
              "leftValue": "={{ ($('Calculate Estimated Receive').item.json.nudges_this_month || 0) + 1 }}",
              "rightValue": "={{ $('Calculate Estimated Receive').item.json.nudge_limit }}",
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-at-limit",
      "name": "IF At Nudge Limit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4640, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rate_watches?id=eq.{{ $('Calculate Estimated Receive').item.json.watch_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"paused_limit\" }",
        "options": {}
      },
      "id": "pause-watch",
      "name": "Pause Watch at Limit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4860, 300]
    }
  ],
  "connections": {
    "Schedule Every 15min": {
      "main": [
        [{ "node": "Get Active Pairs", "type": "main", "index": 0 }]
      ]
    },
    "Get Active Pairs": {
      "main": [
        [{ "node": "Deduplicate Pairs", "type": "main", "index": 0 }]
      ]
    },
    "Deduplicate Pairs": {
      "main": [
        [{ "node": "Batch Pairs", "type": "main", "index": 0 }]
      ]
    },
    "Batch Pairs": {
      "main": [
        [{ "node": "Frankfurter API", "type": "main", "index": 0 }]
      ]
    },
    "Frankfurter API": {
      "main": [
        [{ "node": "IF Frankfurter OK", "type": "main", "index": 0 }]
      ]
    },
    "IF Frankfurter OK": {
      "main": [
        [{ "node": "Normalize Rate", "type": "main", "index": 0 }],
        [{ "node": "Fallback open.er-api", "type": "main", "index": 0 }]
      ]
    },
    "Fallback open.er-api": {
      "main": [
        [{ "node": "IF er-api OK", "type": "main", "index": 0 }]
      ]
    },
    "IF er-api OK": {
      "main": [
        [{ "node": "Normalize Rate", "type": "main", "index": 0 }],
        [{ "node": "Fallback exchangerate-api", "type": "main", "index": 0 }]
      ]
    },
    "Fallback exchangerate-api": {
      "main": [
        [{ "node": "IF exchangerate OK", "type": "main", "index": 0 }]
      ]
    },
    "IF exchangerate OK": {
      "main": [
        [{ "node": "Normalize Rate", "type": "main", "index": 0 }],
        [{ "node": "Get Cached Rate (Stale)", "type": "main", "index": 0 }]
      ]
    },
    "Get Cached Rate (Stale)": {
      "main": [
        [{ "node": "Normalize Rate", "type": "main", "index": 0 }]
      ]
    },
    "Normalize Rate": {
      "main": [
        [
          { "node": "Upsert Rate Cache", "type": "main", "index": 0 },
          { "node": "Insert Rates History", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upsert Rate Cache": {
      "main": [
        [{ "node": "Get Matching Watches", "type": "main", "index": 0 }]
      ]
    },
    "Get Matching Watches": {
      "main": [
        [{ "node": "Batch Matched Watches", "type": "main", "index": 0 }]
      ]
    },
    "Batch Matched Watches": {
      "main": [
        [{ "node": "Calculate Estimated Receive", "type": "main", "index": 0 }]
      ]
    },
    "Calculate Estimated Receive": {
      "main": [
        [
          { "node": "IF Telegram Channel", "type": "main", "index": 0 },
          { "node": "IF Email Channel", "type": "main", "index": 0 },
          { "node": "IF WhatsApp Pro", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF Telegram Channel": {
      "main": [
        [{ "node": "Send Telegram Nudge", "type": "main", "index": 0 }],
        []
      ]
    },
    "IF Email Channel": {
      "main": [
        [{ "node": "Send Email via Brevo", "type": "main", "index": 0 }],
        []
      ]
    },
    "IF WhatsApp Pro": {
      "main": [
        [{ "node": "Send WhatsApp Nudge", "type": "main", "index": 0 }],
        []
      ]
    },
    "Send Telegram Nudge": {
      "main": [
        [{ "node": "Update Watch Nudges", "type": "main", "index": 0 }]
      ]
    },
    "Send Email via Brevo": {
      "main": [
        [{ "node": "Update Watch Nudges", "type": "main", "index": 0 }]
      ]
    },
    "Send WhatsApp Nudge": {
      "main": [
        [{ "node": "Update Watch Nudges", "type": "main", "index": 0 }]
      ]
    },
    "Update Watch Nudges": {
      "main": [
        [{ "node": "Update Member Nudges", "type": "main", "index": 0 }]
      ]
    },
    "Update Member Nudges": {
      "main": [
        [{ "node": "Insert Nudge Log", "type": "main", "index": 0 }]
      ]
    },
    "Insert Nudge Log": {
      "main": [
        [{ "node": "IF At Nudge Limit", "type": "main", "index": 0 }]
      ]
    },
    "IF At Nudge Limit": {
      "main": [
        [{ "node": "Pause Watch at Limit", "type": "main", "index": 0 }],
        [{ "node": "Batch Matched Watches", "type": "main", "index": 0 }]
      ]
    },
    "Pause Watch at Limit": {
      "main": [
        [{ "node": "Batch Matched Watches", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "shegoo" },
    { "name": "rate-watchdog" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-02T00:00:00.000Z",
  "versionId": "wf-02-v1"
}