shegoo/n8n/workflows/WF-03-SHEGOO-MONTHLY-RESET.json
{
  "name": "WF-03 Shegoo Monthly Reset",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 1 * *"
            }
          ]
        }
      },
      "id": "cron-monthly",
      "name": "Monthly 1st Midnight",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rate_watches?status=neq.deleted",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"nudges_this_month\": 0 }",
        "options": { "timeout": 15000 }
      },
      "id": "reset-watch-nudges",
      "name": "Reset Watch Nudges",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rate_watches?status=eq.paused_limit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"looking\" }",
        "options": { "timeout": 15000 }
      },
      "id": "reactivate-watches",
      "name": "Reactivate Paused Watches",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/members?status=eq.active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"nudges_this_month\": 0 }",
        "options": { "timeout": 15000 }
      },
      "id": "reset-member-nudges",
      "name": "Reset Member Nudges",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "// Reactivated watches came back from the PATCH with return=representation\nconst reactivated = $('Reactivate Paused Watches').all();\n\n// Collect unique member_ids\nconst memberIds = [...new Set(reactivated.map(i => i.json.member_id).filter(Boolean))];\n\nreturn memberIds.map(id => ({ json: { member_id: id } }));"
      },
      "id": "get-reactivated",
      "name": "Get Reactivated Members",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/members?id=eq.{{ $json.member_id }}&select=id,email,telegram_chat_id,whatsapp_number,preferred_channels,plan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-member-details",
      "name": "Fetch Member Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch-members",
      "name": "Batch Reactivated",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "ch-tg",
              "leftValue": "={{ $json[0]?.preferred_channels || '' }}",
              "rightValue": "telegram",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-tg-reactivate",
      "name": "IF Telegram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json[0].telegram_chat_id }}",
        "text": "Your rate watches are back. We are looking again. Shegoo.",
        "additionalFields": {}
      },
      "id": "tg-reactivate",
      "name": "Telegram Reactivation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2000, 220],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Shegoo Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "ch-email",
              "leftValue": "={{ $json[0]?.preferred_channels || '' }}",
              "rightValue": "email",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-email-reactivate",
      "name": "IF Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $env.BREVO_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": { \"name\": \"Shegoo\", \"email\": \"{{ $env.SHEGOO_FROM_EMAIL }}\" },\n  \"to\": [{ \"email\": \"{{ $json[0].email }}\" }],\n  \"subject\": \"Your rate watches are back\",\n  \"htmlContent\": \"<p>Your rate watches are back. We are looking again.</p><p>Shegoo.</p>\"\n}",
        "options": {}
      },
      "id": "email-reactivate",
      "name": "Email Reactivation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/audit_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"monthly_reset\",\n  \"details\": \"Nudges reset, paused watches reactivated\",\n  \"created_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "audit-log-reset",
      "name": "Audit Log Monthly Reset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $env.SHEGOO_OPS_CHAT_ID }}",
        "text": "=Monthly reset \u00b7 {{ $('Reactivate Paused Watches').all().length }} watches reactivated",
        "additionalFields": {}
      },
      "id": "tg-ops-reset",
      "name": "Telegram Ops Reset",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2440, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Shegoo Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Monthly 1st Midnight": {
      "main": [
        [{ "node": "Reset Watch Nudges", "type": "main", "index": 0 }]
      ]
    },
    "Reset Watch Nudges": {
      "main": [
        [{ "node": "Reactivate Paused Watches", "type": "main", "index": 0 }]
      ]
    },
    "Reactivate Paused Watches": {
      "main": [
        [{ "node": "Reset Member Nudges", "type": "main", "index": 0 }]
      ]
    },
    "Reset Member Nudges": {
      "main": [
        [{ "node": "Get Reactivated Members", "type": "main", "index": 0 }]
      ]
    },
    "Get Reactivated Members": {
      "main": [
        [{ "node": "Fetch Member Details", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Member Details": {
      "main": [
        [{ "node": "Batch Reactivated", "type": "main", "index": 0 }]
      ]
    },
    "Batch Reactivated": {
      "main": [
        [
          { "node": "IF Telegram", "type": "main", "index": 0 },
          { "node": "IF Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF Telegram": {
      "main": [
        [{ "node": "Telegram Reactivation", "type": "main", "index": 0 }],
        []
      ]
    },
    "IF Email": {
      "main": [
        [{ "node": "Email Reactivation", "type": "main", "index": 0 }],
        []
      ]
    },
    "Telegram Reactivation": {
      "main": [
        [{ "node": "Audit Log Monthly Reset", "type": "main", "index": 0 }]
      ]
    },
    "Email Reactivation": {
      "main": [
        [{ "node": "Audit Log Monthly Reset", "type": "main", "index": 0 }]
      ]
    },
    "Audit Log Monthly Reset": {
      "main": [
        [{ "node": "Telegram Ops Reset", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "shegoo" },
    { "name": "monthly-reset" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-02T00:00:00.000Z",
  "versionId": "wf-03-v1"
}