apex/conv_proc/n8n_workflows/apex_memory_update.json
{
  "name": "[APEX] Memory Update Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "apex-memory-update",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "id": "mm-webhook-01",
      "webhookId": "c140a8f5-7bf6-4c89-9e58-dd2e2e7b9ecc"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Normalize payload: support {memory: {...}}, {memory_updates: [...]}, field-name variants\nconst body = $input.first().json.body || {};\nconst source = body.source || 'unknown';\nconst processed_id = body.processed_id || body.conv_processed_id || null;\nconst raw = body.memory_updates || (body.memory ? [body.memory] : []);\nreturn raw.map(m => ({\n  json: {\n    source,\n    processed_id,\n    type: m.type || 'reference',\n    key: m.key || m.name || '',\n    value: m.value || m.content || '',\n    reason: m.reason || ''\n  }\n}));"
      },
      "name": "Split Memories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "mm-code-01"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "conv_memories",
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "type", "fieldValue": "={{ $json.type }}"},
            {"fieldId": "key", "fieldValue": "={{ $json.key }}"},
            {"fieldId": "value", "fieldValue": "={{ $json.value }}"},
            {"fieldId": "reason", "fieldValue": "={{ $json.reason }}"},
            {"fieldId": "source", "fieldValue": "={{ $json.source }}"},
            {"fieldId": "conv_processed_id", "fieldValue": "={{ $json.processed_id }}"}
          ]
        }
      },
      "name": "Insert Memory",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "mm-sb-01",
      "credentials": {
        "supabaseApi": {
          "id": "a7fYXsrHUIj3HcnW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "2085046714",
        "text": "=*New APEX Memory*\nType: {{ $json.type }}\nKey: {{ $json.key }}\nSource: {{ $json.source }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [850, 300],
      "id": "mm-tg-01",
      "credentials": {
        "telegramApi": {
          "id": "68YtskC3aYC2yRJM",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Split Memories", "type": "main", "index": 0}]]
    },
    "Split Memories": {
      "main": [[{"node": "Insert Memory", "type": "main", "index": 0}]]
    },
    "Insert Memory": {
      "main": [[{"node": "Notify Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
