apex/conv_proc/n8n_workflows/apex_skill_register.json
{
  "name": "[APEX] Skill Register Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "apex-skill-register",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "id": "sk-webhook-01",
      "webhookId": "apex-skill-register-hook"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "conv_skills",
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "name", "fieldValue": "={{ $json.body.skill.name }}"},
            {"fieldId": "description", "fieldValue": "={{ $json.body.skill.description }}"},
            {"fieldId": "trigger", "fieldValue": "={{ $json.body.skill.trigger }}"},
            {"fieldId": "steps", "fieldValue": "={{ JSON.stringify($json.body.skill.steps || []) }}"},
            {"fieldId": "source", "fieldValue": "={{ $json.body.source }}"},
            {"fieldId": "conv_processed_id", "fieldValue": "={{ $json.body.processed_id }}"},
            {"fieldId": "status", "fieldValue": "registered"}
          ]
        }
      },
      "name": "Insert Skill",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [500, 300],
      "id": "sk-sb-01",
      "credentials": {
        "supabaseApi": {
          "id": "a7fYXsrHUIj3HcnW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "2085046714",
        "text": "=*New APEX Skill Registered*\n*{{ $json.body.skill.name }}*\nTrigger: {{ $json.body.skill.trigger }}\nSource: {{ $json.body.source }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [750, 300],
      "id": "sk-tg-01",
      "credentials": {
        "telegramApi": {
          "id": "68YtskC3aYC2yRJM",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Insert Skill", "type": "main", "index": 0}]]
    },
    "Insert Skill": {
      "main": [[{"node": "Notify Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
