apex/conv_proc/n8n_workflows/apex_task_intake.json
{
  "name": "[APEX] Task Intake Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "apex-task-intake",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "id": "tk-webhook-01",
      "webhookId": "cffade6f-cd77-4e95-ae45-19676a7f7102"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Normalize payload: support both {task: {...}} and {tasks: [...]}\nconst body = $input.first().json.body || {};\nconst source = body.source || 'unknown';\nconst processed_id = body.processed_id || body.conv_processed_id || null;\nconst raw = body.tasks || (body.task ? [body.task] : []);\nreturn raw.map(t => ({\n  json: {\n    source,\n    processed_id,\n    title: t.title || '',\n    owner: t.owner || 'unassigned',\n    project: t.project || 'APEX',\n    priority: (t.priority || 'medium').toLowerCase(),\n    description: t.description || ''\n  }\n}));"
      },
      "name": "Split Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "tk-code-01"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "conv_tasks",
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "title", "fieldValue": "={{ $json.title }}"},
            {"fieldId": "owner", "fieldValue": "={{ $json.owner }}"},
            {"fieldId": "project", "fieldValue": "={{ $json.project }}"},
            {"fieldId": "priority", "fieldValue": "={{ $json.priority }}"},
            {"fieldId": "description", "fieldValue": "={{ $json.description }}"},
            {"fieldId": "source", "fieldValue": "={{ $json.source }}"},
            {"fieldId": "conv_processed_id", "fieldValue": "={{ $json.processed_id }}"},
            {"fieldId": "status", "fieldValue": "pending"}
          ]
        }
      },
      "name": "Insert Task",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "tk-sb-01",
      "credentials": {
        "supabaseApi": {
          "id": "a7fYXsrHUIj3HcnW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "2085046714",
        "text": "=*New APEX Task*\n*{{ $json.title }}*\nPriority: {{ $json.priority }}\nProject: {{ $json.project }}\nOwner: {{ $json.owner }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [850, 300],
      "id": "tk-tg-01",
      "credentials": {
        "telegramApi": {
          "id": "68YtskC3aYC2yRJM",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Split Tasks", "type": "main", "index": 0}]]
    },
    "Split Tasks": {
      "main": [[{"node": "Insert Task", "type": "main", "index": 0}]]
    },
    "Insert Task": {
      "main": [[{"node": "Notify Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
