apex/conv_proc/n8n_stubs/conv-proc-task-intake.json
{
  "name": "APEX Task Intake (CONV-PROC)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apex-task-intake",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "agent_tasks",
        "columns": "title,description,project_id,priority,status",
        "options": {}
      },
      "name": "Insert Tasks",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "supabaseApi": { "id": "a7fYXsrHUIj3HcnW", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ok\", \"inserted\": $json.length } }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Insert Tasks", "type": "main", "index": 0 }]] },
    "Insert Tasks": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
