apex/docs/APEX-Blind-Postman-n8n.json
{
  "name": "APEX Blind Postman",
  "nodes": [
    {
      "parameters": {
        "path": "/share/CE_CACHEDEV1_DATA/Automations/apex/hub",
        "events": [
          "create"
        ],
        "options": {
          "awaitWriteFinish": true,
          "filter": "*.json"
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000001",
      "name": "Watch Hub Folder",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "notes": "PRIMARY trigger. Windows FSW unreliable \u00e2\u20ac\u201d Poll Fallback catches misses. Idempotency guard in foreman.py prevents double-processing."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000002",
      "name": "Poll Fallback 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        480
      ],
      "notes": "FALLBACK: Catches files missed by FSW after sleep/wake/reconnect. Runs every 30s."
    },
    {
      "parameters": {
        "jsCode": "// LIST FILES NEWER THAN .last_polled\n// Compares mtime of each .json against stored timestamp.\n// Returns array of {filePath, fileName} for downstream processing.\n\nconst fs = require('fs');\nconst path = require('path');\n\nconst HUB_DIR = '/share/CE_CACHEDEV1_DATA/Automations/apex/hub';\nconst LAST_POLLED_FILE = path.join(HUB_DIR, '.last_polled');\nconst SYSTEM_FILES = new Set(['.heartbeat', '.foreman_pid', '.last_polled']);\n\n// Read last polled timestamp (ms)\nlet lastPolled = 0;\ntry {\n  const raw = fs.readFileSync(LAST_POLLED_FILE, 'utf8').trim();\n  lastPolled = parseInt(raw) || 0;\n} catch (e) { /* first run */ }\n\nconst now = Date.now();\n\n// List hub/ for new .json files\nconst newFiles = [];\ntry {\n  const entries = fs.readdirSync(HUB_DIR);\n  for (const entry of entries) {\n    if (!entry.endsWith('.json')) continue;\n    if (SYSTEM_FILES.has(entry) || entry.startsWith('.')) continue;\n    const fullPath = path.join(HUB_DIR, entry);\n    try {\n      const stat = fs.statSync(fullPath);\n      if (stat.mtimeMs > lastPolled) {\n        newFiles.push({ filePath: fullPath, fileName: entry, _source: 'poll' });\n      }\n    } catch (e) { /* file may have been processed and removed */ }\n  }\n} catch (e) {\n  return [{ json: { error: e.message } }];\n}\n\n// Update .last_polled timestamp\nfs.writeFileSync(LAST_POLLED_FILE, now.toString());\n\nif (newFiles.length === 0) return [];\n\nreturn newFiles.map(f => ({ json: f }));"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000003",
      "name": "List New Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// NORMALIZE: Accepts output from either FSW trigger or Poll path.\n// FSW output: $json.path (full file path), $json.type (event type)\n// Poll output: $json.filePath, $json.fileName\n// Returns: { filePath, fileName } or [] to halt.\n\nconst path = require('path');\n\nconst filePath = $json.filePath || $json.path || '';\nif (!filePath) return [];\n\nconst fileName = path.basename(filePath);\n\n// Skip system/hidden files and .tmp directory contents\nconst SKIP = new Set(['.heartbeat', '.foreman_pid', '.last_polled']);\nif (SKIP.has(fileName)) return [];\nif (fileName.startsWith('.')) return [];\nif (!fileName.endsWith('.json')) return [];\nif (filePath.includes('/.tmp/') || filePath.includes('/.tmp/')) return [];\n\n// Skip delete events from FSW\nif ($json.type === 'unlink' || $json.type === 'unlinkDir') return [];\n\nreturn [{ json: { filePath, fileName, _source: $json._source || 'fsw' } }];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000004",
      "name": "Normalize File Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// READ AND VALIDATE TICKET\n// Reads file at filePath, parses JSON, validates meta.receiver exists.\n// Returns full ticket data + _filePath and _receiver fields for routing.\n// Logs malformed tickets to relay.log and halts (returns []).\n\nconst fs = require('fs');\nconst path = require('path');\n\nconst LOG_FILE = '/share/CE_CACHEDEV1_DATA/Automations/apex/logs/relay.log';\nconst filePath = $json.filePath;\n\nfunction appendLog(entry) {\n  try { fs.appendFileSync(LOG_FILE, JSON.stringify(entry) + '\\n'); } catch(e) {}\n}\n\nif (!filePath) {\n  appendLog({ timestamp: new Date().toISOString(), level: 'ERROR', message: 'No filePath in normalize output' });\n  return [];\n}\n\n// Read file\nlet rawContent;\ntry {\n  rawContent = fs.readFileSync(filePath, 'utf8');\n} catch (e) {\n  appendLog({ timestamp: new Date().toISOString(), level: 'ERROR', message: `Cannot read file: ${e.message}`, filePath });\n  return [];\n}\n\n// Parse JSON\nlet ticket;\ntry {\n  ticket = JSON.parse(rawContent);\n} catch (e) {\n  appendLog({ timestamp: new Date().toISOString(), level: 'ERROR', message: `MALFORMED_TICKET: JSON parse error: ${e.message}`, filePath });\n  return [];\n}\n\n// Validate meta.receiver \u00e2\u20ac\u201d CONSTRAINT: n8n reads ONLY this field for routing\nconst receiver = ticket?.meta?.receiver;\nif (!receiver || typeof receiver !== 'string') {\n  appendLog({ timestamp: new Date().toISOString(), level: 'ERROR', message: 'MALFORMED_TICKET: missing meta.receiver', filePath });\n  return [];\n}\n\nreturn [{ json: { ...ticket, _filePath: filePath, _receiver: receiver.toLowerCase() } }];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000005",
      "name": "Read and Validate Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        360
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "all",
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json._receiver }}",
                    "operation": "equal",
                    "value2": "foreman"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json._receiver }}",
                    "operation": "equal",
                    "value2": "originator"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json._receiver }}",
                    "operation": "equal",
                    "value2": "claudeclaw"
                  }
                ]
              }
            }
          ]
        },
        "fallbackOutput": 3,
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000006",
      "name": "Route by Receiver",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1200,
        360
      ],
      "notes": "ZERO-KNOWLEDGE RELAY: reads meta.receiver only. Output 0=foreman, 1=originator, 2=claudeclaw, 3=unknown"
    },
    {
      "parameters": {
        "command": "python3 \"/share/CE_CACHEDEV1_DATA/Automations/apex/foreman.py\" --ticket \"{{ $json._filePath }}\"",
        "options": {
          "shell": true
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000007",
      "name": "Execute Foreman",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1440,
        120
      ],
      "notes": "Runs foreman.py with --ticket path. Timeout: 600s (foreman has its own internal per-task timeout)."
    },
    {
      "parameters": {
        "jsCode": "// NOTIFY ORIGINATOR \u00e2\u20ac\u201d severity-based routing\n// FATAL/ERROR: pass to Telegram alert node\n// WARN/INFO: log only, return []\n\nconst fs = require('fs');\n\nconst LOG_FILE = '/share/CE_CACHEDEV1_DATA/Automations/apex/logs/relay.log';\nconst severity = $json?.meta?.severity || 'INFO';\nconst jobId = $json?.meta?.parent_job_id || $json?.meta?.job_id || 'unknown';\nconst message = $json?.failure?.message || JSON.stringify($json).slice(0, 200);\nconst stage = $json?.failure?.stage || 'UNKNOWN';\n\nconst logEntry = JSON.stringify({\n  timestamp: new Date().toISOString(),\n  job_id: jobId,\n  receiver: 'originator',\n  action: `DIAGNOSTIC/${stage}`,\n  severity,\n  message\n});\nfs.appendFileSync(LOG_FILE, logEntry + '\\n');\n\nif (severity === 'FATAL' || severity === 'ERROR') {\n  return [{ json: {\n    ...$json,\n    _notifyText: `[Apex ${severity}] Job ${jobId}\\nStage: ${stage}\\n${message}`\n  }}];\n}\n\n// WARN or INFO: log only\nreturn [];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000008",
      "name": "Notify Originator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID || $json.meta.receiver }}",
        "text": "={{ $json._notifyText }}",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000009",
      "name": "Telegram Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot (ClaudeClaw)"
        }
      },
      "notes": "Configure TELEGRAM_CHAT_ID env var in n8n or hardcode Michael's chat ID. Link credential 'Telegram Bot (ClaudeClaw)' to bot token."
    },
    {
      "parameters": {
        "url": "http://localhost:3000/internal/ticket",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "json": "={{ JSON.stringify($json) }}"
        },
        "options": {
          "timeout": 10000,
          "retry": {
            "enabled": true,
            "maxRetries": 3,
            "retryInterval": 5000
          },
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000010",
      "name": "Notify ClaudeClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        480
      ],
      "notes": "POST ticket to ClaudeClaw /internal/ticket. 3 retries x 5s. If ClaudeClaw down after retries, neverError=true prevents workflow failure \u00e2\u20ac\u201d ticket falls through to Relay Log."
    },
    {
      "parameters": {
        "jsCode": "// LOG UNKNOWN RECEIVER \u00e2\u20ac\u201d halt gracefully\nconst fs = require('fs');\nconst LOG_FILE = '/share/CE_CACHEDEV1_DATA/Automations/apex/logs/relay.log';\nconst receiver = $json?._receiver || 'unknown';\nconst filePath = $json?._filePath || '';\nconst jobId = $json?.meta?.job_id || 'unknown';\n\nconst entry = JSON.stringify({\n  timestamp: new Date().toISOString(),\n  level: 'WARN',\n  message: `Unknown receiver: '${receiver}' \u00e2\u20ac\u201d ticket not routed`,\n  job_id: jobId,\n  filePath\n});\nfs.appendFileSync(LOG_FILE, entry + '\\n');\nconsole.warn(`[Blind Postman] Unknown receiver: '${receiver}' for job ${jobId}`);\nreturn [];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000011",
      "name": "Log Unknown Receiver",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "// RELAY LOG \u00e2\u20ac\u201d append final outcome to relay.log\nconst fs = require('fs');\nconst LOG_FILE = '/share/CE_CACHEDEV1_DATA/Automations/apex/logs/relay.log';\n\nconst jobId = $json?.meta?.job_id || $json?.meta?.parent_job_id || 'unknown';\nconst receiver = $json?._receiver || $json?.meta?.receiver || 'unknown';\nconst severity = $json?.meta?.severity || 'INFO';\nconst action = $json?.sop?.action || $json?.failure?.stage || 'dispatch';\n\nconst entry = JSON.stringify({\n  timestamp: new Date().toISOString(),\n  job_id: jobId,\n  receiver,\n  action,\n  severity\n});\nfs.appendFileSync(LOG_FILE, entry + '\\n');\n\nreturn [{ json: { logged: true, job_id: jobId } }];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000012",
      "name": "Relay Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        360
      ]
    }
  ],
  "connections": {
    "Watch Hub Folder": {
      "main": [
        [
          {
            "node": "Normalize File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Fallback 30s": {
      "main": [
        [
          {
            "node": "List New Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List New Files": {
      "main": [
        [
          {
            "node": "Normalize File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize File Path": {
      "main": [
        [
          {
            "node": "Read and Validate Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read and Validate Ticket": {
      "main": [
        [
          {
            "node": "Route by Receiver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Receiver": {
      "main": [
        [
          {
            "node": "Execute Foreman",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Originator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify ClaudeClaw",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unknown Receiver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Foreman": {
      "main": [
        [
          {
            "node": "Relay Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Originator": {
      "main": [
        [
          {
            "node": "Telegram Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Error Alert": {
      "main": [
        [
          {
            "node": "Relay Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify ClaudeClaw": {
      "main": [
        [
          {
            "node": "Relay Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unknown Receiver": {
      "main": [
        [
          {
            "node": "Relay Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "apex-local"
  },
  "tags": [],
  "_importNotes": [
    "All paths corrected for QNAP NAS Linux filesystem."
  ]
}