apex/active_projects/bermcoin/n8n/workflows/WF-01-BERMCOIN-ONBOARDING.json
{
  "name": "WF-01 Bermcoin Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bermcoin-checkout",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-checkout",
      "name": "Webhook Stripe Checkout",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bermcoin-checkout"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst payload = $input.first().json.body;\nconst sigHeader = $input.first().json.headers['stripe-signature'];\nconst secret = $env.STRIPE_WH_CHECKOUT_SECRET;\n\nif (!sigHeader || !secret) {\n  throw new Error('Missing signature or secret');\n}\n\nconst parts = {};\nsigHeader.split(',').forEach(p => {\n  const [k, v] = p.split('=');\n  parts[k] = v;\n});\n\nconst signedPayload = parts.t + '.' + JSON.stringify(payload);\nconst expected = crypto.createHmac('sha256', secret).update(signedPayload).digest('hex');\n\nif (expected !== parts.v1) {\n  throw new Error('Invalid Stripe signature');\n}\n\nreturn [{ json: { verified: true, body: payload, timestamp: parts.t } }];"
      },
      "id": "verify-sig",
      "name": "Verify Stripe Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json.body;\nconst session = event.data?.object || {};\n\nconst email = session.customer_details?.email || session.customer_email || '';\nconst plan = session.metadata?.plan || 'free';\nconst affiliate_ref = session.metadata?.affiliate_ref || null;\nconst stripe_customer_id = session.customer || '';\nconst stripe_subscription_id = session.subscription || '';\n\nreturn [{\n  json: {\n    email,\n    plan,\n    affiliate_ref,\n    stripe_customer_id,\n    stripe_subscription_id,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "extract-data",
      "name": "Extract Checkout Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/members",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"plan\": \"{{ $json.plan }}\",\n  \"stripe_customer_id\": \"{{ $json.stripe_customer_id }}\",\n  \"stripe_subscription_id\": \"{{ $json.stripe_subscription_id }}\",\n  \"status\": \"active\",\n  \"created_at\": \"{{ $json.created_at }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "upsert-member",
      "name": "Upsert Member",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/auth/v1/invite",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Extract Checkout Data').item.json.email }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-invite",
      "name": "Send Magic Link Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "aff-check",
              "leftValue": "={{ $('Extract Checkout Data').item.json.affiliate_ref }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-affiliate",
      "name": "IF Affiliate Ref Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/affiliate_conversions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"affiliate_ref\": \"{{ $('Extract Checkout Data').item.json.affiliate_ref }}\",\n  \"member_email\": \"{{ $('Extract Checkout Data').item.json.email }}\",\n  \"plan\": \"{{ $('Extract Checkout Data').item.json.plan }}\",\n  \"converted_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "insert-affiliate",
      "name": "Insert Affiliate Conversion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.BERMCOIN_OPS_CHAT_ID }}",
        "text": "=New member \u00b7 {{ $('Extract Checkout Data').item.json.plan }}",
        "additionalFields": {}
      },
      "id": "tg-ops-success",
      "name": "Telegram Ops New Member",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 420],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Bermcoin Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.BERMCOIN_OPS_CHAT_ID }}",
        "text": "=Onboarding failed \u00b7 {{ $json.message || 'Unknown error' }}",
        "additionalFields": {}
      },
      "id": "tg-ops-error",
      "name": "Telegram Ops Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 560],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Bermcoin Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/audit_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"onboarding_failed\",\n  \"details\": \"{{ $json.message || 'Unknown error' }}\",\n  \"created_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "audit-log-error",
      "name": "Audit Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 560]
    }
  ],
  "connections": {
    "Webhook Stripe Checkout": {
      "main": [
        [{ "node": "Verify Stripe Signature", "type": "main", "index": 0 }]
      ]
    },
    "Verify Stripe Signature": {
      "main": [
        [{ "node": "Extract Checkout Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Checkout Data": {
      "main": [
        [{ "node": "Upsert Member", "type": "main", "index": 0 }]
      ]
    },
    "Upsert Member": {
      "main": [
        [{ "node": "Send Magic Link Invite", "type": "main", "index": 0 }]
      ]
    },
    "Send Magic Link Invite": {
      "main": [
        [{ "node": "IF Affiliate Ref Exists", "type": "main", "index": 0 }]
      ]
    },
    "IF Affiliate Ref Exists": {
      "main": [
        [{ "node": "Insert Affiliate Conversion", "type": "main", "index": 0 }],
        [{ "node": "Telegram Ops New Member", "type": "main", "index": 0 }]
      ]
    },
    "Insert Affiliate Conversion": {
      "main": [
        [{ "node": "Telegram Ops New Member", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "bermcoin" },
    { "name": "onboarding" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-02T00:00:00.000Z",
  "versionId": "wf-01-v1"
}