bermcoin/n8n/workflows/WF-07-BERMCOIN-FEEDBACK-DIGEST.json
{
  "name": "WF-07-BERMCOIN-FEEDBACK-DIGEST",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }] }
      },
      "id": "cron",
      "name": "Weekly Monday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://vntnfljukhshzwvlrlud.supabase.co/rest/v1/feedback?created_at=gte.{{$now.minus(7,'days').toISO()}}&order=rating.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_ANON_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-feedback",
      "name": "Fetch Weekly Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "https://vntnfljukhshzwvlrlud.supabase.co/rest/v1/rpc/get_nps_score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_ANON_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-nps",
      "name": "Fetch NPS Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 500]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\":\"{{$env.BERMCOIN_OPS_CHAT_ID}}\",\"text\":\"📊 WEEKLY FEEDBACK DIGEST\\n\\nNew feedback items: {{$node['Fetch Weekly Feedback'].json.length || 0}}\\nNPS Score: {{$node['Fetch NPS Score'].json.nps || 'N/A'}}\\n\\nCheck dashboard for details.\"}",
        "options": {}
      },
      "id": "send-digest",
      "name": "Send Digest to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 400]
    }
  ],
  "connections": {
    "Weekly Monday 9am": { "main": [[{ "node": "Fetch Weekly Feedback", "type": "main", "index": 0 }, { "node": "Fetch NPS Score", "type": "main", "index": 0 }]] },
    "Fetch Weekly Feedback": { "main": [[{ "node": "Send Digest to Telegram", "type": "main", "index": 0 }]] },
    "Fetch NPS Score": { "main": [[{ "node": "Send Digest to Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "bermcoin" }]
}
